


body
{
    font-family:'raleway', sans-serif;
    margin:0px
}
h1, p {
    margin-left: 20px;
    padding-left: 10px;
}
h2
{
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: start;
}
h3
{
    font-size: 1.0rem;
    font-weight: bold;
}
a{
    text-decoration: none;
}
nav .visitation {
    display: flex;
    padding-left: 20px;
    margin: 10px;
    justify-content: space-between;
}
nav li:last-child a {
    color:#0065fc;
}
nav li a {
    color:black;
    padding-top: 15px;
}
nav .link a:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
}
.mobile {
    display: none;
}
.tablet-computer {
    display: none;
}
.link {
    display: flex;
}
nav li {
    margin:0px 20px;
    padding:0px;
}
.logo {
    width: 100px;

}
#older {
    display: flex;
    border-radius: 30px 30px;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 10px 10px 30px;
}
#older input {
    border: #f2f2f2;
    font-weight: bold;
    border: 3px #f2f2f2 solid;
    padding: 0px 10px;
}
#older button {
    background-color: #0065fc;
    border-radius: 0px 30px 30px 0px;
    border: #f2f2f2;
    color: white;
    padding: 0px 10px;
}
#older label {
    display: flex;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 30px 0px 0px 30px;
}
#older .serch {
    display: flex;
}
#older .btn-mobile {
    display:none ;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.filter p {
    padding: 0px 10px;
    margin: 0px 10px;
}
.filter h3 {
    font-weight: bold;
    margin: 0px 10px;
    padding: 10px 0px;
}
.filter h2 {
    margin-left: 10px;
    margin-top: 30px;
    padding-left: 30px;
}
.bill {
    display: flex;
    border: 3px #f2f2f2 solid;
    border-radius: 30px 30px 30px 30px;
    align-items: center;
    margin: 0px 20px;
}
.bill:hover {
    background-color: #b5e0f1;
    color:white;
}
.circle-info {
    display:flex;
    border: 1px solid #f2f2f2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    justify-items: center;
    justify-content: center;
    padding: 10px;
    color: #0065fc;
}
.in p {
margin-left: 0px;
padding-left: 0px;
}
#money, #child, #love, #dog {
    color: #0065fc; 
    height: 40px ;
    width: 40px;
    padding-right:0px;
    border-radius: 50%;
    background-color: #deebff;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one {
    margin: 10px;
}
.in {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: start;
}

.visitation ul {
    display: flex;
    justify-content: end;
    margin: 0px 10px;
}
li {
    list-style-type: none;
    font-size: 0.9rem;
    display: flex;
}
 .club {
    display: flex;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 10px;
 }
 .town { 
    background-color: #f2f2f2;
    border-radius: 20px 20px;
    margin-right: 10px;
    width: 70%;
}
 .town img {
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    display: flex; 
    object-fit: cover;
 }
 .club .town h2  {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
 }
 .town .rooms {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.town .rooms article {
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(233, 230, 230);
    width: 28%;
    padding: 10px;
    margin:10px
} 
.rooms p,h3 {
    padding: 0px 0px 0px 10px;
    margin: 0px ;
}
.town .rooms article #stars {
    padding: 0px 0px 0px 10px;
    color: #0065fc;
}
/*** make clickable accomodation and activities in Marseille***/
.town .rooms .clickable:hover {
    background-color: #b5e0f1;
}
.more-view p {
   margin: 20px;
   padding-bottom: 20px;
}
.popular img {
    height: 180px; 
    width:100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.popular {
    background-color: #f2f2f2;
    border-radius: 20px 20px;
    margin-left: 10px;
    padding: 20px;
    margin: 0px 20px 0px 10px;
    width: 28%;
}
.sun {
    width: 48%;
}
.morning {
    width: 52%;
} .people .morning p, h3 {
    margin-left: 10px;
}
.morning #stars {
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 10px; 
  color: #0065fc; 
}
.grey-stars {
    color: #e7e6e6;
    display: inline-block;
}
#more {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.popular .people article {
    display: flex;
    border-radius: 20px;
}
.full {
    margin-bottom:20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(233, 230, 230);
    padding:10px
}
.water {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(233, 230, 230);
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px
}
.dreams {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(240, 237, 237);
    padding:10px
}
.popular h2 {
margin-left: 20px;
padding-left: 10px;
margin-top: 2px;
}
.activités img {
    width: 100%;
    border-radius: 20px 20px 0px 0px ;object-fit: cover;
}
.activités article {
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(249, 248, 248);
    margin: 10px;
}
.parc img, .vieux img {
    height:350px;
    width: 100%;
    object-fit: cover;
}
.dame img, .pomègue img {
    height: 130px;
    width: 100%;
    object-fit: cover;
}
.vieux, .pomègue, .parc, .dame {
    width: 24%;
    padding: 10px;
}
.activités {
    display: flex;
    margin: 10px;
}
.flow, .unsplash  {
    padding-top:20px;
}
.activités h3 {
    padding: 10px;
    margin-bottom: 20px;
}
.marseillais h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
} 
.marseillais {
    margin-top: 30px;
    padding-bottom: 20px;
}
footer {
    display: flex;
    justify-content: start;
    background-color: #f2f2f2;
}
.feet ul ,.fast ul, .foot ul  {
    padding: 0px;
    margin:0px
}
.fast {
    margin: 30px 100px;
    padding: 20px 80px;
}
.feet {
    padding: 20px;
    margin:20px
}
.foot {
    padding: 20px 100px;
    margin:20px 80px;
}
footer li {
    padding: 10px 0px ;
}


@media screen and (max-width: 700px)
 {
    body {
    margin: 0px;
    padding: 0px;
    }
    nav {
        display: none;
    }
    header .mobile {
      display:inline-block;
      padding: 0px;
      width: 100%;
    }
    .mobile .logo-inscription {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        overflow: hidden;
    }
    .mobile .logo-inscription a {
        color: #0065fc;
    }
    .mobile .logo {
        padding-top: auto;
        margin: 0px;
    }
    .inscription {
        padding: 10px;
    }
    .mobile .cart {
        display: flex;
        width: 100%;
        padding-bottom: 20px;
    }
    header .mobile .cart a:hover {
        color:#0065fc ;
    }
    header .mobile .cart a:hover {
    border-bottom: 2px solid #0065fc;
    }
    .mobile .cart a{
        color: black;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 10px;
        width: 100%;
    }
    #older .btn {
        display: none;
    }
    #older .btn-mobile {
        display: inline-block;
         
     }
    section {
        flex-direction: column;
    }
    article {
        margin: auto;
        padding: 0px;
    }
    .bill {
		margin: 10px 10px;
	}
     .one {
        margin:auto;
        padding: 0px;
    }
    .club .town h2 {
        margin: 0px;
        padding: 10px;
    }
    .club {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0px;
        margin: 0px;
    }
    .town {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: white;
    }
    .town .rooms article {
        width: 100%;
        margin: 20px 0px;
        padding: 0px;
    }
    .town .rooms {
        margin: 0px;
        padding: 20px;
    }
    .more-view p {
        margin: 0px;
        padding: 0px;
    }
    .popular {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-radius: 0px;
    }
    .popular #more {
        padding: 10px;
    }
    .people {
        padding: 20px;
    }
    .marseillais{
        margin: 0px;
        padding-top: 20px;
        overflow: hidden;
    }
    .marseillais h2 {
        padding: 0px;
        margin: 0px;
    }
    .activités {
        display: block;
        margin: auto;
        padding:20px;
    }
    .marseillais .activités article {
        margin: 0px;
    }
    .activités img {
        width: 100%;
        height: 150px;
    }
    .vieux, .pomègue, .parc, .dame {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    footer {
        margin: auto;
        display: block;
    }
	footer a{
		font-weight: bold;
		font-size: 1.2rem;
		color: black;
	}
    .fast, .foot, .feet {
        padding: 5px 30px;
        margin: 10px 20px;
        
    }
}
    /* @media [YYPE][CAR]*/
    @media  screen and (min-width: 700px) and (max-width: 1024px) 
 {
    body {
        margin: 0px;
        padding: 0px;
        background-color: yellow;
    }
    .mobile {
        display: none;
    }

    .club {
        display: block;
       flex-wrap: wrap;
       flex-direction: row-reverse;
    }
   .one .filter {
       display: flex;
       margin: 30px;
   }
   .club {
       width: 100%;
       display: block;
   }
    .town .rooms article {
        margin: 20px 0px;
        padding: 10px;
    }
    .club .rooms {
        justify-content: space-between;
    }
    .club .town {
        width: 100%;
        
    }
    .popular {
        width:100%
    }
    .people {
        width: 100%;
        border-radius: 0px;
    }
    .popular .people article {
       
    }
}



 
    
